@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
body {
  background: #000;
  font-family: 'Orbitron', sans-serif;
}

/*CSS Stars*/
#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}
.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
}
.stars:nth-child(1) {
  background-position: 50% 50%;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
}


/*CSS Top Bar*/
#topBar {
  width: 100%;
  z-index:10;
}
#topHeader {
  width: 1000px;
  margin: auto;
  background-color: rgba(245, 245, 245, 0.75);
}
@media only screen and (max-width: 1200px) {
  #topHeader {
    width: 100%;
  }
}
#topHeader h2 {
  text-shadow: 0 0 3px goldenrod;
}

/*CSS styling for pop up boxes */
.center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#about {
  width: 100%;
  background-color: whitesmoke;
  z-index:10;
}
#records {
  width: 300px;
  background-color: whitesmoke;
  z-index:10;
}
#upgrade {
  width: 400px;
  background-color: whitesmoke;
  z-index:10;
}
#upgrade input {
  max-width: 75px;
}
#upgrade .input-group {
  min-width:100%;
}

#timer {
  width: 200px;
  background-color: whitesmoke;
  z-index:10;
}
#options {
  width: 300px;
  background-color: whitesmoke;
  z-index:10;
}

/*CSS styling for Galaxy */
#map-wide {
  position: fixed;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  overflow:auto;
  z-index: -1;
}
#map-high {
  width:100%;
}
.planet {
  border-radius: 50%;
  box-shadow: 0em 0em 0.5em 0.2em white;
}
.sun {
  z-index: -1;
  position:relative;
  background-color:goldenrod;
  border-radius: 50%;
  box-shadow: 2em 0.5em 9em 3em goldenrod;
}
.EData {
  color: white;
  text-shadow: 0 0 5px goldenrod;
}

.black {
  background-color:black;
}
.darkred {
  background-color:darkred;
}
.limegreen {
  background-color:limegreen;
}
.royalblue {
  background-color:royalblue;
}